@font-face {
  font-family: 'hokjesgeestregular';
  src: url('../fonts/hokjesgeest-webfont.woff2') format('woff2'),
    url('../fonts/hokjesgeest-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.ui.card {
  -webkit-box-shadow: 0em 0.2em 0em inset;
  -moz-box-shadow: 0em 0.2em 0em inset;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
}

.ui.card:first-child {
  margin-top: 1em;
}
.ui.card:last-child {
  margin-bottom: 1em;
}

.logo {
  padding: 20px;
  background: white;
}

.content {
  text-align: center;
}
.content .header {
  text-decoration-line: underline;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.nickname {
  line-height: 30px;
  font-family: 'hokjesgeestregular', Arial;
  font-size: 20px;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
}
