@font-face {
  font-family: "hokjesgeestregular";
  src: url("../fonts/hokjesgeest-webfont.woff2") format("woff2"),
    url("../fonts/hokjesgeest-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.ui.card {
  -webkit-box-shadow: 0em 0.2em 0em inset;
  -moz-box-shadow: 0em 0.2em 0em inset;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
}
.logo {
  padding: 50px;
}

.content {
  text-align: center;
}

.nickname {
  line-height: 30px;
  font-family: "hokjesgeestregular", Arial;
  font-size: 20px;
}
