@font-face {
  font-family: "hokjesgeestregular";
  src: url("../fonts/hokjesgeest-webfont.woff2") format("woff2"),
    url("../fonts/hokjesgeest-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.footerContainer {
  background-image: url("https://cdn.pixabay.com/photo/2014/07/11/17/03/basketball-390008_1280.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: sticky;
}

.footerText {
  font-size: 10px;
  font-family: "hokjesgeestregular", Arial;
}
